
#grid-container {

}

.rowContainer{
    display: flex;
    max-width: none;
    border: 3px solid;
    justify-content: center;
    align-items: center;
}
.square{
    border: 1px solid;
    max-width: none;
    height: 30px;
    width: 30px;
    
}
